body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(2, 4, 17);
    
}

.login-container {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    /* translucent background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 00px;
}

.login-container h1 {
    text-align: center;

}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    color: #250352;
}

.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

 button  {
    margin-left: 100px;
    color: #f5f4f9;
    background-color: rgb(17, 13, 43);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 button:hover {
    background-color: #dbe0e6;
    color:#1e1825;
}
 
#username {
    width: 280px;
}

#password {
    width: 280px;
}